.header {
    height: 250px;
    max-height: 500px;
    background-image:url(../images/upsBackground.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#pageTopic {
    text-align: center;
    font-size: 66px;
    font-weight: 900;
}
.colorContainer {
  display: inline-block;
  margin: 15px;  
}
.swatch {
    height: 200px;
    width: 170px;
    border: 1px solid black;
}
.hexCode {
    padding: 15px;
    text-align: center;
    border:1px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.type_container {
    display: inline-block;
    margin: 20px;
}
.button {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    width: 150px;
    text-align: center;
    color: white;
    outline: 1px solid red;
}
.darkBlue {
    background-color: #333366;
}
.darkGrey {
    background-color: #545454;
}
.lightGrey {
    background-color: #e3e3e3;
}
.white {
    background-color: #FFFFFF;
}
.lightBlue {
    background-color: #12a0f6;
}
.red {
    background-color: #f84848;
}
.orange {
    background-color: #fc7705;
}
.lightBlue {
    background-color: #13A0f6;
}
.lightGreen {
    background-color: #8A8E48;
}
.primary {
    background-color: #2b459A;
}
.success {
    background-color: #8A8E48;
}
.danger {
    background-color:#f84848;
}
.warning {
    background-color: #fc7705;
}
.info {
    background-color: #0099FA;
}
.primaryActive {
    background-color: #3A66b7;
}
.successActive {
    background-color: #668c35;
}
.dangerActive {
    background-color: #AD4848;
}
.warningActive {
    background-color: #ba7a43;
}
.infoActive {
    background-color: #4386ba;
}
.sectionHead {
    border-bottom: 8px solid #DDDDDD;
}
.body {
    font-family: 'Open Sans', sans-serif;

}
.typography {
    font-size: 66px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.light {
    font-weight: 100px;
}
.regular {
    font-weight: 500px;
}
.bold {
    font-weight: 700px;
}
.typography h1 {
    font-size: 50px;
    font-weight: 900px;
}
.typography h2 {
    font-size: 42px;
    font-weight: 700px;
}
.typography h3 {
    font-size: 34px;
    font-weight: 700px;
}
.typography h4 {
    font-size: 26px;
}
.button {
    font-size: 14px;
}